<%# -*- coding: utf-8 -*- %>
<%= header %>

<div id="author">
  <div id="main">
    <div id="title">
      <h1><%= h(_("%{author}'s slides") % {:author => title}) %></h1>
    </div>

    <div class="content">
      <div id="slides">
        <% slides.sort_by(&:id).each do |slide| %>
        <div class="slide">
          <div class="slide-info">
            <h2><a href="<%= h(slide.id) %>/"><%= h(slide.title) %></a></h2>
            <p class="slide-description"><%= h(slide.description) %></p>
            <ul class="tags">
              <% slide.tags.each do |tag| %>
              <li><%= h(tag) %></li>
              <% end %>
            </ul>
          </div>
          <%= thumbnail_link(slide, "") %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <nav id="sidebar">
    <section id="author-info">
      <h3><%= h(title) %></h3>
      <div class="avatar">
        <a href="../">
          <img src="<%= gravatar_url(email) %>"
               alt=""
               class="avatar"/>
        </a>
      </div>
      <div class="other-sites">
        <ul>
          <% if have_slideshare_user? %>
          <li>
            <a href="<%= slideshare_url %>" class="slideshare">
              SlideShare
            </a>
          </li>
          <% end %>
          <% if have_speaker_deck_user? %>
          <li>
            <a href="<%= speaker_deck_url %>" class="speaker-deck">
              Speaker Deck
            </a>
          </li>
          <% end %>
          <% if have_rubygems_user? %>
          <li>
            <a href="<%= rubygems_url %>" class="rubygems">
              RubyGems.org
            </a>
          </li>
          <% end %>
        </ul>
      </div>
    </section>
    <section id="share">
      <h3><%= h(_("Share")) %></h3>
      <div class="social-widgets">
        <ul>
          <li>
            <a href="http://twitter.com/share"
               class="twitter-share-button"
               data-lang="<%= h(_('en')) %>"
               data-url="<%= url %>"
               data-text="<%= h(title) %>">
              <%= h(_("Tweet")) %>
            </a>
          </li>
          <li>
            <div class="fb-like"
                 data-href="<%= url %>"
                 data-send="false"
                 data-layhout="button_count"
                 data-width="100"
                 data-show-faces="false"></div>
          </li>
          <li>
            <g:plusone href="<%= url %>" size="medium"></g:plusone>
          </li>
          <li>
            <a href="http://b.hatena.ne.jp/entry/<%= url %>"
               class="hatena-bookmark-button"
               data-hatena-bookmark-layout="standard"
               title="このエントリーをはてなブックマークに追加"
               ><img src="http://b.st-hatena.com/images/entry-button/button-only.gif"
                     width="20"
                     height="20"
                     style="border: none;"
                     alt="このエントリーをはてなブックマークに追加" /></a>
          </li>
        </ul>
      </div>
    </section>
  </nav>
</div>
