<%# -*- coding: utf-8 -*- -%>
<iframe src="<%= h(viewer_url) %>"
        width="640" height="<%= image_height + 44 %>"
        frameborder="0"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
        style="border: 1px solid #ccc; border-width: 1px 1px 0; box-sizing: content-box; margin-bottom: 5px"
        allowfullscreen> </iframe>
<div style="margin-bottom: 5px">
  <a href="<%= h(url) %>" title="<%= h(title) %>"><%= h(title) %></a>
</div>
