<%# -*- coding: utf-8 -*- -%>
<header>
  <a href="<%= top_path %>">
    <img src="<%= image_path("logo-small.png") %>"
         alt="Rabbit Slide Show">
  </a>

  <div id="search-form">
    <form action="<%= h("#{top_path}search/") %>" method="get">
      <input name="query"
             type="search"
             placeholder="<%= h(_("Input search keyword")) %>"
             value="<%= h(query) %>">
      <input type="submit"
             value="<%= h(_("Search")) %>">
    </form>
  </div>
</header>
