<%# -*- coding: utf-8 -*- %>
<%= header %>

<div id="search-result">
  <div id="main">
    <div id="title">
      <h1><%= h(_("Search result")) %></h1>
    </div>

    <div class="content">
      <div id="search-result-info">
        <span id="total-n-slides">Total: <%= h(@total_n_slides) %> slides</span>
        <span id="elapsed-time">(<%= h("%.4f" % (@elapsed_time)) %>s)</span>
      </div>
      <ul id="slide-thumbnails">
        <% @slides.each do |slide| %>
        <li><%= thumbnail_link(slide, author_path(slide.author)) %></li>
        <% end %>
      </ul>

      <div id="slides">
        <% @slides.each do |slide| %>
        <div class="slide">
          <div class="slide-info">
            <h2>
              <a href="<%= h(slide_path(slide)) %>"><%= highlight(slide.title) %></a>
              <span class="score">(<%= h(slide.score) %>)</span>
            </h2>
            <p class="slide-author">
              <a href="<%= h(author_path(slide.author)) %>"
                   ><%= highlight(slide.author.label) %></a>
              (<%= highlight(slide.author.key) %>)
            </p>
            <p class="slide-description"><%= highlight(slide.description) %></p>
            <ul class="tags">
              <% slide.tags.each do |tag| %>
              <li><%= highlight(tag.label) %></li>
              <% end %>
            </ul>
            <% if slide.presentation_date %>
            <p class="slide-presentation-date">
              <%= format_presentation_date(slide.presentation_date) %>
            </p>
            <% end %>
          </div>
          <%= thumbnail_link(slide, author_path(slide.author)) %>
          <div class="snippets">
            <% slide_snippets(slide).each do |snippet| %>
            <div class="snippet"><%= snippet %></div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <nav id="sidebar">
    <section id="tags">
      <h3>Tags</h3>
      <ul>
      <% @tags.each do |tag| %>
        <li>
          <%= tag_link(tag) %>
          (<%= tag.n_sub_records %>)
        </li>
      <% end %>
      </ul>
    </section>

    <section id="authors">
      <h3>Authors</h3>
      <ul>
      <% @authors.each do |author| %>
        <li>
          <%= h(author.label) %>
          (<%= author.n_sub_records %>)
        </li>
      <% end %>
      </ul>
    </section>
  </nav>
</div>
