<%# -*- coding: utf-8 -*- %>
<a href="<%= author_path %><%= h(slide.id) %>/">
  <img src="<%= author_path %><%= h(slide.thumbnail_path) %>"
       alt="<%= h(slide.title) %>"
       title="<%= h(slide.title) %>"
       class="thumbnail">
</a>
