<%# -*- coding: utf-8 -*- %>
<%= header %>

<section id="body">
  <div id="main">
    <div id="slide-info">
      <h1><%= h(title) %></h1>
      <div class="author"><a href="../"><%= h(@author.title) %></a></div>
      <% if presentation_date %>
      <div class="slide-presentation-date">
        <%= h(presentation_date.strftime(_("%Y-%m-%d"))) %>
      </div>
      <% end %>
    </div>

    <div class="content">
      <div id="viewer">
        <div id="viewer-header"></div>
        <div id="viewer-content">
          <div id="page-images">
            <% @pdf.each_with_index do |page, i| %>
            <img id="page-image-<%= i %>" src="<%= i %>.png" class="page-image"/>
            <% end %>
          </div>
        </div>
        <div id="viewer-footer">
          <div id="viewer-move-control">
            <span id="viewer-move-to-first"></span>
            <span id="viewer-move-to-previous"></span>
            <span id="viewer-move-to-next"></span>
            <span id="viewer-move-to-last"></span>
          </div>
          <div id="viewer-page-slider"></div>
          <span id="viewer-current-page">0</span>
          /
          <span id="viewer-n-pages"><%= h(n_pages) %></span>
        </div>
      </div>
      <section class="description">
        <h2><%= h(_("Description")) %></h2>
        <p><%= h(description) %></p>
      </section>
      <div class="fb-comments"
           data-href="<%= url %>"
           data-num-posts="20"
           data-width="640">
      </div>
      <section class="text">
        <h2><%= h(_("Text")) %></h2>
        <% @pdf.each_with_index do |page, i| %>
        <div class="page">
          <h3>Page: <%= i + 1 %></h3>
          <pre class="text"><%= h(normalize_text(page.get_text)) %></pre>
        </div>
        <% end %>
      </section>
      <section class="other-slides">
        <h2><%= h(_("Other slides")) %></h2>
        <% other_slides.each do |other_slide| %>
        <div class="other-slide">
          <%= thumbnail_link(other_slide, "../") %>
          <div class="slide-title">
            <a href="../<%= h(other_slide.id) %>">
              <%= h(other_slide.title) %>
            </a>
          </div>
          <% if other_slide.presentation_date %>
          <div class="slide-presentation-date">
            <%= h(other_slide.presentation_date.strftime(_("%Y-%m-%d"))) %>
          </div>
          <% end %>
        </div>
        <% end %>
      </section>
    </div>
  </div>

  <nav id="sidebar">
    <section id="author-info">
      <h3><a href="../"><%= h(@author.title) %></a></h3>
      <div class="avatar">
        <a href="../">
          <img src="<%= gravatar_url(@config.author.email) %>"
               alt=""
               class="avatar"/>
        </a>
      </div>
      <div class="other-sites">
        <ul>
          <% if have_slideshare_id? %>
          <li>
            <a href="<%= slideshare_url %>" class="slideshare">
              SlideShare
            </a>
          </li>
          <% end %>
          <% if have_speaker_deck_id? %>
          <li>
            <a href="<%= speaker_deck_url %>" class="speaker-deck">
              Speaker Deck
            </a>
          </li>
          <% end %>
          <% if have_rubygems_id? %>
          <li>
            <a href="<%= rubygems_url %>" class="rubygems">
              RubyGems.org
            </a>
          </li>
          <% end %>
          <% if have_ustream_id? %>
          <li>
            <a href="<%= ustream_url %>" class="ustream">
              Ustream
            </a>
          </li>
          <% end %>
        </ul>
      </div>
    </section>
    <section>
      <h3><%= h(_("Download")) %></h3>
      <p><a href="<%= h(pdf_base_name) %>" class="download">PDF</a></p>
    </section>
    <section>
      <h3><%= h(_("Share")) %></h3>
      <div class="social-widgets">
        <ul>
          <li>
            <a href="http://twitter.com/share"
               class="twitter-share-button"
               data-lang="<%= h(_('en')) %>"
               data-url="<%= url %>"
               data-text="<%= h(tweet_text) %>">
              <%= h(_("Tweet")) %>
            </a>
          </li>
          <li>
            <div class="fb-like"
                 data-href="<%= url %>"
                 data-send="false"
                 data-layhout="button_count"
                 data-width="100"
                 data-show-faces="false"></div>
          </li>
          <li>
            <g:plusone href="<%= url %>" size="medium"></g:plusone>
          </li>
          <li>
            <a href="<%= hatena_bookmark_url %>"
               class="hatena-bookmark-button"
               data-hatena-bookmark-layout="standard"
               title="このエントリーをはてなブックマークに追加"
               ><img src="http://b.st-hatena.com/images/entry-button/button-only.gif"
                     width="20"
                     height="20"
                     style="border: none;"
                     alt="このエントリーをはてなブックマークに追加" /></a>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <h3><%= h(_("License")) %></h3>
      <ul>
        <% licenses.each do |license| %>
        <li><%= h(license) %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</section>

