<%# -*- coding: utf-8 -*- -%>
<%= header -%>

<div id="slide">
  <div id="main">
    <div id="slide-info">
      <h1><%= h(title) %></h1>
      <div class="author"><a href="../"><%= h(@author.label) %></a></div>
      <% if presentation_date %>
      <div class="slide-presentation-date">
        <%= format_presentation_date(presentation_date) %>
      </div>
      <% end %>
    </div>

    <div class="content">
      <%= viewer -%>
      <section class="description">
        <h2><%= h(_("Description")) %></h2>
        <p><%= h(description) %></p>
      </section>
      <div class="fb-comments"
           data-href="<%= h(url) %>"
           data-num-posts="20"
           data-width="640">
      </div>
      <section class="text">
        <h2><%= h(_("Text")) %></h2>
        <% @pdf.each_with_index do |page, i| %>
        <div class="page">
          <h3>Page: <%= i + 1 %></h3>
          <pre class="text"><%= h(normalize_text(page.get_text)) %></pre>
        </div>
        <% end %>
      </section>
      <section class="other-slides">
        <h2><%= h(_("Other slides")) %></h2>
        <% other_slides.each do |other_slide| %>
        <div class="other-slide">
          <%= thumbnail_link(other_slide, "../") -%>
          <div class="slide-title">
            <a href="../<%= h(other_slide.id) %>">
              <%= h(other_slide.title) %>
            </a>
          </div>
          <% if other_slide.presentation_date %>
          <div class="slide-presentation-date">
            <%= h(other_slide.presentation_date.strftime(_("%Y-%m-%d"))) %>
          </div>
          <% end %>
        </div>
        <% end %>
      </section>
    </div>
  </div>

  <nav id="sidebar">
    <section id="author-info">
      <h3><a href="../"><%= h(@author.label) %></a></h3>
      <div class="avatar">
        <a href="../">
          <img src="<%= h(gravatar_url(@config.author.email)) %>"
               alt=""
               class="avatar">
        </a>
      </div>
      <div class="other-sites">
        <ul>
          <% if have_slideshare_id? %>
          <li>
            <a href="<%= h(slideshare_url) %>" class="slideshare">
              SlideShare
            </a>
          </li>
          <% end %>
          <% if have_speaker_deck_id? %>
          <li>
            <a href="<%= h(speaker_deck_url) %>" class="speaker-deck">
              Speaker Deck
            </a>
          </li>
          <% end %>
          <% if have_rubygems_id? %>
          <li>
            <a href="<%= h(rubygems_url) %>" class="rubygems">
              RubyGems.org
            </a>
          </li>
          <% end %>
          <% if have_ustream_id? %>
          <li>
            <a href="<%= h(ustream_url) %>" class="ustream">
              Ustream
            </a>
          </li>
          <% end %>
          <% if have_vimeo_id? %>
          <li>
            <a href="<%= h(vimeo_url) %>" class="vimeo">
              Vimeo
            </a>
          </li>
          <% end %>
        </ul>
      </div>
    </section>
    <section id="download">
      <h3><%= h(_("Download")) %></h3>
      <p><a href="<%= h(pdf_base_name) %>" class="download">PDF</a></p>
    </section>
    <section id="share">
      <h3><%= h(_("Share")) %></h3>
      <div class="social-widgets">
        <ul>
          <li>
            <a href="http://twitter.com/share"
               class="twitter-share-button"
               data-lang="<%= h(_('en')) %>"
               data-url="<%= h(url) %>"
               data-text="<%= h(tweet_text) %>">
              <%= h(_("Tweet")) %>
            </a>
          </li>
          <li>
            <div class="fb-like"
                 data-href="<%= h(url) %>"
                 data-send="false"
                 data-layhout="button_count"
                 data-width="100"
                 data-show-faces="false"></div>
          </li>
          <li>
            <g:plusone href="<%= h(url) %>" size="medium"></g:plusone>
          </li>
          <li>
            <a href="<%= h(hatena_bookmark_url) %>"
               class="hatena-bookmark-button"
               data-hatena-bookmark-layout="standard"
               title="このエントリーをはてなブックマークに追加"
               ><img src="http://b.st-hatena.com/images/entry-button/button-only.gif"
                     width="20"
                     height="20"
                     style="border: none;"
                     alt="このエントリーをはてなブックマークに追加"></a>
          </li>
          <li>
            <span id="embed-button"><%= h(_("Embed")) %></span>
            <div id="embed-box">
              <textarea><%= h(embed_viewer_html) %></textarea>
              <input id="embed-box-close" type="button" value="Close">
            </div>
          </li>
          <li>
            <span id="permanent-link-button"><%= h(_("Permanent link")) %></span>
            <div id="permanent-link-box">
              <input id="permanent-link-base" type="hidden" value="<%= h(url) %>">
              <input id="permanent-link" type="url" readonly="readonly">
              <hr>
              <div>
                Page: <input id="permanent-link-page"
                             type="number"
                             list="permanent-link-page-list">
                <datalist id="permanent-link-page-list">
<% 1.upto(n_pages) do |page| -%>
                  <option value="<%= h(page) %>"><%= h(page) %></option>
<% end -%>
                </datalist>
                <br>
                Link to the page:
                <input id="permanent-link-use-page"
                       type="checkbox"
                       checked="checked">
              </div>
              <hr>
              <input id="permanent-link-box-close" type="button" value="Close">
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section id="license">
      <h3><%= h(_("License")) %></h3>
      <ul>
        <% licenses.each do |license| %>
        <li><%= h(license) %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>

<script type="text/javascript">
  var slide = new RabbitSlide();
  slide.moveTo(slide.currentPage);
</script>
