<%# -*- coding: utf-8 -*- -%>
<a href="<%= author_path %><%= u(slide.name) %>/"
   class="thumbnail-link">
  <img src="<%= author_path %><%= slide.thumbnail_path %>"
       alt="<%= h(slide.title) %>"
       title="<%= h(slide.title) %>"
       class="thumbnail">
</a>
