<%# -*- coding: utf-8 -*- -%>
<div id="top">
  <div id="welcome">
    <h1>Rabbit Slide Show</h1>
    <div class="catch-phrase">It's showtime! Love it?</div>
  </div>

  <div id="search-form">
    <form action="<%= h("#{top_path}search/") %>" method="get">
      <input name="query"
             type="search"
             placeholder="<%= h(_("Input search keyword")) %>"
             value="<%= h(current_query) %>">
      <input type="submit"
             value="<%= h(_("Search")) %>">
    </form>
  </div>

  <section id="new-slides">
    <h2><%= h(_("New!")) %></h2>
    <% new_slides.each do |slide| %>
    <div class="slide">
      <%= thumbnail_link(slide, slide.author.path) -%>
      <div class="slide-title">
        <a href="<%= slide.path %>"><%= h(slide.title) %></a>
      </div>
      <div class="slide-author">
        <a href="<%= slide.author.path %>"><%= h(slide.author.label) %></a>
      </div>
      <% if slide.presentation_date %>
      <div class="slide-presenation-date">
        <%= h(slide.presentation_date.strftime(_("%Y-%m-%d"))) %>
      </div>
      <% end %>
    </div>
    <% end %>
    </div>
  </section>
</div>
